/* To do's */
#todo-container {
    padding: 5px;
    border: 2px solid var(--dark-green);
    border-radius: 8px;
    grid-row: 2 / -1;
    grid-column: 2 / 3;
    margin-top: 10px;
    margin-left: 10px;
}
.todoHead {
    display: flex;
    height: 20px;
}
.todoBody {
    
    height: 100px;
    display: flex;
}
.todo {
    margin-top: 5px;
    padding-bottom: 2px;
    border-bottom: 2px solid var(--dark-green);
}
.todoBody-hidden {
    height: 0px;
}
.todoDesc {
    margin-left: 4px;
}
.todoDueDate {
    align-self: end;
    margin-left: auto;
}
.todoPriority {
    border-radius: 15px;
    margin-left: auto;
    height: 15px;
    width: 15px;
}
.todoHead-right
{
    align-items: center;
    display: flex;
    gap: 3px;
    margin-left:auto;
}
.deleteTodo {
    border: 1px solid var(--beige);
    background-color: var(--light);
    border-radius: 10px;
    color: red;
    font-size: 15px;
}
.dropdown {
    border: 1px solid var(--beige);
    background-color: var(--light);
    border-radius: 5px;
    color: var(--dark-green);
}
.priority-1 {
    background-color: #2b8a51;
}
.priority-2 {
    background-color: #FFDB5C;
}
.priority-3 {
    background-color: #C73659;
}

.todoModal {
    border-radius: 25px;
    margin-top: 170px;
    height: 300px;
    width: 500px;
    font-size: 20px;
    
}
#todoModalHeader {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#addTodoButton {
    margin-left:auto;
    width: 50px;
    height: 30px;
    border-radius: 20px;
    background-color: #2b8a51;
    color: white;

}
#todoModalHeader div {
    margin-left: auto;
}
.todoModal form {
    display: flex;
    flex-direction: column;
}
#todoModalDescriptionDiv {
    display: flex;
}
#todoModalTitleDiv input {
    border-radius: 10px;
    border: 2px solid;
    width: 50%;
    height: 20px;
    margin-left:110px;
}
#todoModalTitleDiv {
    margin-bottom: 3px;
}
#priorityDiv {
    flex: 2;
    display: flex;
    align-items: center;
    gap: 2px;
}
#priorityDiv input {
    margin:0;
    
}
#dueDateDiv {
    flex: 1;
    display: flex;
}
#todoModalFooter {
    display: flex;
    margin-top: 15px;
    font-size: 13px;
    
}
#priority1 {
    accent-color: green;
}
#priority2 {
    accent-color: #FFDB5C;
}
#priority3 {
    accent-color: #C73659;
}